
@media (max-width: 992px) {

    #navBar{
        background: #FFFFFF !important;
    }

    .navbar-wrapper{

        margin-top:2.5rem !important;

        margin-bottom:2.5rem !important;

    }

    #inp-sector-auto-maen:focus {
        -webkit-transition: width 0.4s ease-in-out;
        transition: width 0.4s ease-in-out;
        position: absolute !important;
        width: 90% !important;
    }

    #inp-producto-comercios:focus {
        -webkit-transition: width 0.4s ease-in-out;
        transition: width 0.4s ease-in-out;
        position: absolute !important;
        width: 90% !important;
    }

}

.loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 999999999;
    background: url(/assets/global/img/gif/cargar-maen.gif) center no-repeat rgba(255, 255, 255, 0.5);
}


